@page "/settings"
@using Netrunner.Client.Services
@inject IAuthHelper _authHelper

<h3>Settings</h3>

<button @onclick="HandleLogout">Logout</button>

@code {

    private Task HandleLogout()
    {
        return _authHelper.Logout();
    }

}