@using Netrunner.Client.Services
@using Netrunner.Shared.Services
@inject IAuthHelper _authHelper
@inject NavigationManager _navigationManager
@inject IServiceHelper _serviceHelper

<h3>Login</h3>

@if (_showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@_error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="_model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="form-group">
                <label for="username">User Name</label>
                <InputText Id="username" Class="form-control" @bind-Value="_model.Username"/>
                <ValidationMessage For="@(() => _model.Username)"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="_model.Password"/>
                <ValidationMessage For="@(() => _model.Password)"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" @onclick="HandleRegister" class="btn btn-primary">Register</button>
        </EditForm>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5>For testing:</h5>
        <p>user: test<br/>password: test1234</p>
        <p>user: admin<br/>password: admin1234</p>
    </div>
</div>