@using Netrunner.Shared.Chat
@inject HttpClient Http
<h3>Rooms</h3>

@if (_rooms == null)
{
    <Loading/>
}
else
{
    <ul>
        @foreach (var room in _rooms)
        {
            <li>
                <a href="@($"chat/{room.Id}")">@room.Name</a>
            </li>
        }
    </ul>
}

@code {
#nullable enable
    private List<ChatRoom>? _rooms;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    public async Task Refresh()
    {
        _rooms = await Http.GetFromJsonAsync<List<ChatRoom>>($"api/v1/rooms");
    }

}