@using Netrunner.Shared.Chat
@using Netrunner.Client.Services
@using Netrunner.Shared.Services
@inject IServiceHelper _serviceHelper
<h3>Rooms</h3>

@if (_rooms == null)
{
    <Loading/>
}
else
{
    <ul>
        @foreach (var room in _rooms)
        {
            <li>
                <a href="@($"chat/{room.Id}")">@room.Name</a>
            </li>
        }
    </ul>
}

@code {
#nullable enable
    private List<ChatRoom>? _rooms;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    public async Task Refresh()
    {
        var chatService = await _serviceHelper.GetService<IChatService>();
        _rooms = await chatService.GetRooms();
    }

}