<h3>ChallengeSolver</h3>

@if (_data != null)
{
    <table class="challenge-data">
        @foreach (var row in _data)
        {
            <tr class="challenge-row">
                @foreach (var cell in row)
                {
                    <td class="challenge-cell ">
                        <button @onclick="() => ClickCell(cell)" disabled="@cell.Disabled" class="@(cell.Selected ? "selected" : "")">@cell.DisplayValue</button>
                    </td>
                }
            </tr>
        }
    </table>
}