.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.main { flex: 1; }

.sidebar {
    background-color: #000000;
    background-image: none;
    width: 50px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar { display: none; }