<div class="navbar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="chat" Match="NavLinkMatch.All">
                <img src="icons/icons8-chat-room-48.png"/>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="contacts" Match="NavLinkMatch.All">
                <img src="icons/icons8-user-groups-48.png" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="scan" Match="NavLinkMatch.All">
                <img src="icons/icons8-radar-48.png" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="deck" Match="NavLinkMatch.All">
                <img src="icons/icons8-ipad-48.png" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="wallet" Match="NavLinkMatch.All">
                <img src="icons/icons8-wallet-48.png" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="files" Match="NavLinkMatch.All">
                <img src="icons/icons8-database-48.png" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                <img src="icons/icons8-settings-48.png" />
            </NavLink>
        </li>
        <AuthorizeView Roles="admin">
            <li class="nav-item">
                <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                    <img src="icons/icons8-microsoft-admin-48.png" /></NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>